        body {
            background-image: url("/img/menubg/dbz.png");
            margin: 0;
            width: 1024px;
            height: 768px;
            background-color: rgba(0, 94, 30, 0.566);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            overflow: hidden;
        }
        .exit-button {
            position: absolute;
            top: 461px;
            left: 125px;
        }
        .playermatch-button {
            position: absolute;
            top: 461px;
            left: 362px;
        }
        .private-match-button {
            position: absolute;
            top: 461px;
            left: 648px;
        }
        .cpu-button {
            position: absolute;
            top: 461px;
            left: 953px;
        }
        button {
            margin: 0 10px;
            padding: 10px 20px;
            font-size: 16px;
        }

        .player-info {
            position: absolute;
            top: 565px;
            left: 860px;
            display: flex;
            flex-direction: column;
            gap: 5px;
        }
        .player-portrait {
            width: 100px;
            height: 100px;
            border: 2px solid black;
            background-size: cover;
            background-position: center;
        }
        .player-name, .player-rank, .player-level, .player-ratio {
            color: #000000;
            font-size: 14px;
            text-align: left;
            position: relative;
            left: 110px;
            bottom: 110px;
            font-family: monospace;
            font-weight: bold;
        }

        .teamtext {
            font-family: monospace;
            font-weight: bold;
        }

        .character-grid {
            width: 650px;
            height: 275px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            position: absolute;
            bottom: 50px;
            left: 150px;
            padding-top: 4px;
        }

        .team-grid {
            width: 250px;
            height: 75px;
            display: flex;
            flex-wrap: wrap;
            align-items: flex-start;
            justify-content: space-between;
            padding: 3px;
            position: absolute;
            top: 700px;
            right: 150px;
        }
        .box {
            width: 80px;
            height: 80px;
            border: 2px solid black;
            margin: 2px;
            background-size: cover;
            background-position: center;
        }
        .team-box {
            width: 70px;
            height: 70px;
            border: 2px solid #000000;
            background-size: cover;
            background-position: center;
        }